@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.header-title {
  font-size: 2em;
  font-weight: bold;
}

.nav-link {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #f00;
}

.carousel-item img {
  height: 600px;
  object-fit: cover;
  padding-bottom: 50px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.carousel-caption h5 {
  font-size: 2em;
  margin: 0;
}

.carousel-caption p {
  font-size: 1.2em;
}

.bio {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bio img {
  max-width: 150px;
  height: auto;
  margin-right: 20px;
}

.bio-info {
  flex: 1;
}

.bio-info h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.bio-info p {
  margin: 10px 0;
}

footer {
  text-align: center;
}
